.cbi-section {
  border: 0px !important;
  /*margin-bottom: 0px !important;*/
  color: #515151 !important;
  /* padding-bottom:20px;*/
}

input,
button,
select,
textarea {
  font-family: 'Open Sans' !important;
}

h2 {
  /*font-weight: lighter;*/
  font-size: 23px;
  /* border-bottom: solid 1px rgb(221, 221, 221);*/
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #3e5e6e;
}

.page-content {
  padding: 10px;
}

.cbi-section-node {
  border: 0px !important;
}

select {
  border-color: #ccc !important;
  color: rgb(85, 85, 85) !important;
}

.form-horizontal {
  padding-left: 20px;
  padding-right: 20px;
}

/* Make input color a bit darker, hard to see on some screens */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  color: #777 !important;
}

/* Set Ace Admin error color */
.cbi-value.error .inline-control-label,
.cbi-value.error .control-label {
  color: #d16e6c;
}

.cbi-value.error input,
.cbi-value.error select,
.cbi-value.error textarea {
  border-color: #f09784;
  box-shadow: none
}

.spacer {
  margin-top: 10px;
}

/* Don't indent password field */
input.cbi-input-password {
  text-indent: 0;
}

input.tooltip-error {
  border-color: red;
}

/* center modals 
.modal {  width: 50%  }*/
/* Don't add margin if we're in a modal dialog */
.modal .cbi-section {
  margin-left: 0px;
}

.brand img {
  height: 40px;
}

.graph-label {
  margin-top: -5px;
}

.navbar-inverse .navbar-inner {
  background: #646464;
  /* Old browsers */
  background: -moz-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(36%, #7d7d7d), color-stop(100%, #7d7d7d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#7d7d7d', GradientType=0);
  /* IE6-9 */
}

.gray {
  background: #646464;
  background: -moz-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #646464), color-stop(36%, #7d7d7d), color-stop(100%, #7d7d7d));
  background: -webkit-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  background: -o-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  background: -ms-linear-gradient(top, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  background: linear-gradient(to bottom, #646464 0%, #7d7d7d 36%, #7d7d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#7d7d7d', GradientType=0);
}

/** Make things smaller/less padded **/
label,
input,
button,
select,
textarea,
select,
textarea,
input,
input[type="text"],
input[type="password"] {
  font-size: 13px;
}

.login-layout input[type="text"],
.login-layout input[type="password"] {
  line-height: 20px;
}

.form-horizontal .cbi-value {
  margin-bottom: 20px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

/* Secondary titles with widget-like header styles */
.acn-subtitle {
  border: 0px;
  color: white;
  background: #B6B6B6;
  margin-bottom: 15px;
}

.acn-subtitle-smaller {
  margin-bottom: 5px;
}

.cbi-page-actions {
  background: #e2e2e2;
  padding: 10px;
}

/* Line up with other controls in form */
/*
#btn_save {
    margin-left: 150px;
}
*/
.help-tip .tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}

.help-tip .tooltip.right .tooltip-arrow {
  border-right-color: #fff;
}

.help-tip .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}

.help-tip .tooltip.left .tooltip-arrow {
  border-left-color: #fff;
}

.help-tip .tooltip .tooltip-inner {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  font-weight: normal;
  color: #636363;
  font-family: 'Open Sans';
  background-color: #fff;
  border-left: 2px solid #FFA12A;
  text-align: left;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.62);
}

.help-tip {
  display: inline;
}

.help-tip i {
  cursor: pointer;
  font-size: 14pt;
  color: #CACACA;
  position: absolute;
  margin-top: 3px;
  margin-left: 4px;
  line-height: 25px;
}

.help-text {
  color: gray;
}

@media only screen and (min-width: 614px) {
  .help-text {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 614px) {
  .help-text {
    margin-left: 0px;
  }
}

.nav-list>li>.submenu {
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-tabs>li {
  font-weight: 600;
}

.product-name {
  font-size: 17px;
  color: whitesmoke;
  background-color: inherit;
  padding-left: 10px;
  text-align: left;
  text-shadow: 0px 1px 1px rgb(25, 25, 25);
  text-transform: uppercase;
  letter-spacing: .3px;
  padding-right: 10px;
}

.device-name {
  text-align: center;
  font-size: 14px;
  color: #CECECE;
  letter-spacing: .4px;
}

#ssid_action_buttons {
  margin-bottom: 10px;
}

@media only screen and (max-width:981px) {

  /*.page-content { padding-top: 40px;}*/
  .page-content {
    margin-left: 85px;
  }
}

@media only screen and (max-width:585px) {
  .user-profile {
    line-height: 40px !important;
    margin-top: 10px;
  }
  
  .product-name {
    display: block;
    padding-left: 0px;
  }
  
  .device-name {
    display: none;
  }
  
  #title_bar .logo {
    text-align: center;
  }
  
  .ace-nav {}
}

@media only screen and (max-width:423px) {
  .product-name {
    text-align: center;
    padding-right: 0px;
  }
  
  .device-name {
    display: block;
    padding-bottom: 10px;
  }
  
  .user-profile {
    line-height: 20px !important;
  }
}

@media only screen and (max-width:410px) {
  .lan_section .controls {
    margin-left: 0px !important;
  }
  
  #cbi-network .widget-toolbar:before {
    border-right: 0px;
  }
  
  #cbi-network .widget-toolbar {
    display: block;
    padding-left: 0px;
  }
  
  #cbi-network .widget-toolbar .lbl {
    padding-right: 10px;
  }
}

/* Show menu toggler */
@media only screen and (max-width:767px) {
  .menu-toggler {
    width: 100% !important;
    padding-left: 0px !important;
  }
  
  .menu-toggler>.menu-text {
    left: 50% !important;
    margin-left: -45px;
  }
  
  /* Get rid of arrow on menu */
  #menu-toggler:before,
  #menu-toggler:after {
    left: 50% !important;
    margin-left: -45px !important;
  }
  
  .sys-info-row {
    margin-left: 0px !important;
  }
  
  .page-content {
    margin-top: 40px !important;
    margin-left: 0px;
  }
  
  #menu-toggler>span {
    border-color: transparent;
  }
  
  #save_alert {
    text-align: center
  }
  
  #save_alert h4 {
    margin-bottom: 10px;
  }
  
  #save_alert .span3 {
    margin-top: 10px;
  }
  
  #save_alert .span3 .controls {
    float: none;
  }
  
  .product {
    width: auto !important;
  }
  
  #cbi-wireless #btn_add_ssid {
    margin-left: 0px;
  }
  
  #cbi-wireless #ssid_tabs {
    display: inline-block;
    margin-top: 50px;
  }
  
  #cbi-wireless #ssidTabContent {
    margin-top: -5px;
  }
  
  #cbi-wireless #ssid_action_buttons,
  #last_ssid {
    position: absolute;
  }
  
  #cbi-wireless #last_ssid {
    margin-top: -50px;
  }
}

/* Make inputs smaller on ip alias modal so shows up correctly on small screens */
#cbi-network-alias input {
  width: 110px;
}

.menu-background {
  background-color: #325465;
}

input.ace-switch[type="checkbox"]+.lbl {
  margin-top: 4px;
}

select[multiple],
select[size] {
  height: 30px;
}

#main-content {
  margin-left: 170px;
}

#sidebar {
  width: 170px;
}

#sidebar:before {
  width: 170px;
}

.spinner-container {
  padding-top: 10px;
  color: gray;
}

.broadcast-checkbox {
  margin-left: 5px;
}

@media only screen and (max-width: 922px) {
  .sys-info-row .span2 {
    float: none;
    text-align: center;
    width: 100%;
    margin-left: 10px;
  }
}

.error-badge-visible {
  font-size: 110%;
  color: #A70019;
  animation: blinker 1s linear infinite;
}

.error-msg-visible {
  font-size: 90%;
  animation: 3s linear infinite;
}

.error-badge-invisible {
  display: none !important;
}

.mgmtd-badge-disabled {
  color: #FF8080;
  top: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-left: -13px;
  text-shadow: gray 1px 1px 1px;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

@keyframes blinker_less {
  50% {
    opacity: 0.4;
  }
}

a {
  color: #5C93B5;
}

.orange {
  color: #efb413 !important;
}

.eth-gray {
  color: #c7c7c7;
}

.wifi-green {
  color: #36B9C8;
}

.status-green {
  color: #69aa46;
}

@media only screen and (max-width: 979px) {
  #sidebar {
    border: 0px;
  }
}

.cbi-section tbody,
.tab-content {
  background-color: white;
}

#cbi-wireless tbody {
  background-color: inherit;
}

#panel-user-info {
  letter-spacing: .4px;
}

.user-menu i {
  padding-right: 5px;
}

.user-menu li a {
  padding: 11px;
}

.cbi-page-actions {
  margin-top: 20px;
}

h2 {
  padding-bottom: 10px;
}

.form-horizontal .cbi-value {
  line-height: 30px;
}

.form-horizontal .control-label {
  width: 200px;
}

.main-footer {
  border-top: solid 1px #CCCCCC;
  text-align: center;
  padding: 5px;
  color: #B7B7B7;
  letter-spacing: .4px;
  margin-top: 30px;
}

.tab-content {
  overflow: visible;
}

.tab-content>.tab-pane {
  overflow: auto;
}

.btn-add {
  margin-bottom: 5px;
}

.btn-dynamic {
  margin-left: 3px;
}

#modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10000px;
  right: 10000px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
  -webkit-overflow-scrolling: touch;
  transition: opacity .125s ease-in;
  opacity: 0;
  visibility: hidden;
}

.modal {
  width: 90%;
  /*margin: 5em auto;*/
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  max-width: 600px;
  align-items: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 3px #444;
  padding: 1em 1em .5em 1em;
  min-width: 270px;
}

.modal>* {
  flex-basis: 100%;
  line-height: normal;
  margin-bottom: .5em;
  max-width: 100%;
}

.modal>pre,
.modal>textarea {
  white-space: pre-wrap;
  overflow: auto;
}

body.modal-overlay-active {
  overflow: hidden;
  height: 100vh;
}

body.modal-overlay-active {
  overflow: hidden;
  height: 100vh;
}

body.modal-overlay-active #modal_overlay {
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
}

#modal_overlay>.modal.uci-dialog,
#modal_overlay>.modal.cbi-modal {
  max-width: 800px;
}

#modal_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10000px;
  right: 10000px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
  -webkit-overflow-scrolling: touch;
  transition: opacity .125s ease-in;
  opacity: 0;
}

#modal_overlay>.modal {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  max-width: 600px;
  align-items: center;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 3px #444;
  padding: 1em 1em .5em 1em;
  min-width: 270px;
  top: 10%;
  border-radius: 10px;
}

#modal_overlay .modal>* {
  flex-basis: 100%;
  line-height: normal;
  margin-bottom: .5em;
}

#modal_overlay .modal>pre,
#modal_overlay .modal>textarea {
  white-space: pre-wrap;
  overflow: auto;
}

#modal_overlay .modal>.cbi-section {
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
}

body.modal-overlay-active #modal_overlay {
  left: 0;
  right: 0;
  opacity: 1;
}

/* config changes */
.uci-change-list {
  font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
  display: block;
  padding: 2px;
  text-decoration: none;
  border: thin solid #0f0;
  background-color: #cfc;
}

.uci-change-list del,
.uci-change-legend-label del {
  font-style: normal;
  display: block;
  padding: 2px;
  text-decoration: none;
  border: thin solid #f00;
  background-color: #fcc;
}

.uci-change-list var,
.uci-change-legend-label var {
  font-style: normal;
  display: block;
  padding: 2px;
  text-decoration: none;
  border: thin solid #ccc;
  background-color: #eee;
}

.uci-change-list var ins,
.uci-change-list var del {
  font-style: normal;
  padding: 0;
  white-space: pre;
  border: 0;
}

.uci-change-legend {
  padding: 5px;
}

.uci-change-legend-label {
  float: left;
  width: 150px;
}

.uci-change-legend-label>ins,
.uci-change-legend-label>del,
.uci-change-legend-label>var {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
  line-height: .4;
  border: 0;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.top {
  vertical-align: top !important;
}

.middle {
  vertical-align: middle !important;
}

.bottom {
  vertical-align: bottom !important;
}

/****************************/
.cbi-dynlist {
  min-width: 205px;
  max-width: 400px;
  width: auto;
}

.cbi-dynlist {
  height: auto;
  min-height: 30px;
  display: inline-flex;
  flex-direction: column;
}

.cbi-dynlist>.item {
  margin-bottom: 4px;
  box-shadow: 0 0 2px #ccc;
  background: #fff;
  padding: 5px 2em 2px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  word-break: break-all;
  height: 22px;
}

.cbi-dynlist>.item::after {
  content: "-";
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: -1px;
  right: -1px;
  bottom: -1px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px 0;
  font-weight: bold;
  color: #FFF;
  pointer-events: auto;
  background-color: #abbac3;
}

.cbi-dynlist>.add-item {
  display: flex;
}

.cbi-dynlist>.add-item>div {
  border-width: 2px;
  border-radius: 0 3px 3px 0 !important;
  padding: 12px 7px 0px 7px;
}

.cbi-dynlist>.add-item>input,
.cbi-dynlist>.add-item>button {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cbi-dynlist>.add-item>.cbi-dropdown {
  width: 100%;
}

.cbi-dynlist>.item:focus {
  outline: 2px solid #4b6e9b;
}

.cbi-button-add {
  line-height: 0px!important;
}