#NAM proxy Configuration file
WAN1=__WAN1
WAN2=__WAN2
PORT=8002
NCS_URL=__PROTOCOL://__MYIP/__MYLOGOUTPAGE
NCS6_URL=__PROTOCOL://__MYIP6/__MYLOGOUTPAGE
NAM_IP=__MYIP
DEL_CMD=/ramfs/bin/nam_close
AUTO_LOGOUT=0
NUM_AGENTS=__AGENT_LOGOUT_NUM
TIMEOUT=10
__WAN_VPN_IF
HINT_MSG=/db/uamd/hint_msg
