#NAM proxy Configuration file
WAN1=__WAN1
WAN2=__WAN2
PORT=8003
NCS_URL=__PROTOCOL://__MYIP/loginpages/retry.shtml  
NCS6_URL=__PROTOCOL://__MYIP6/loginpages/retry.shtml  
NAM_IP=__MYIP
DEL_CMD=/ramfs/bin/nam_close
NUM_AGENTS=3
TIMEOUT=3
__WAN_VPN_IF
TITLE=__HTITLE
BODY=__HBODY
ADDRESS=
ALERT1=__HALERT1
ALERT2=__HALERT2
WAIT=__HWAIT
ACTION=__HACTION
JSCRIPT=__JSCRIPT
HINT_MSG=/ramfs/uamd/punishweb
BUILTIN=2
