<!--
  --  Header above every page
  -->
<table>
  <tr>
    <td>
      <img src="ALOGO.png" alt="logo">
    </td>
    <td style="font-size:14px">
      <b>Smart Indoor Location Solution</b>
    </td>
  </tr>
</table>

<h1 style="color:black; padding-top:15px">
  <b>歡迎登入智慧室內定位方案</b><br>
  <b>Welcome to Smart Indoor Location Solution</b>
</h1>
